/* div{
    width: 200px;
height: 200px;
background-color: red;
<!-- 8 point border radius website for circle shape customization -->
border-radius: 39% 44% 39% 40% / 32% 33% 39% 35% ;
} */

div{
    background-color: black;
    color: white;
}

p{
    border: 1px solid blue;
/* to make element block to inline */
    display: inline;

}

a{
    color: red;
    text-decoration: none;
    border: 1px solid green;
    /* padding: 20px;
    margin: 30px; */
    /* display: none;
    visibility: hidden; */

}
/* .mybtn a:hover{
visibility: ;
} */

.mybtn{
    background-color: aqua;
    color: black;
    padding: 10px 30px;
    display: inline-block;
   
}
